
<app-section bg="rgba(0, 0, 0, 1)">
    <div class="footer">
        <div class="logo">
            <img src="/assets/logo-footer.png">
        </div>
        <div class="content">
            <div class="left">
                <div class="column">
                    <div class="title">Home</div>
                    <div class="column-item">Comunity</div>
                    <div class="column-item">Events</div>
                    <div class="column-item">Contact</div>
                    <div class="column-item">Home</div>
                </div>
                <div class="column">
                    <div class="title">Resources</div>
                    <div class="column-item">Blog</div>
                    <div class="column-item">Newsletter</div>
                    <div class="column-item">Help Center</div>
                </div>
                <div class="column">
                    <div class="title">Community</div>
                    <div class="column-item">NewsFeed</div>
                    <div class="column-item">Members</div>
                    <div class="column-item">Private Group</div>
                </div>
            </div>
            <div class="right">
                <div class="title">Subscribe</div>
                <div class="input">
                    <input class="inp" type="email" placeholder="Enter email">
                    <img class="icon-input" src="/assets/icon-input.png">
                </div>
                <div class="text">Join our newsletter to stay up to date on features and releases</div>
            </div>
        </div>
    </div>
</app-section>