
@import "mixins";
@import "variables";

:host{
    display: inline-block;
}

.button{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 32px;
    color: rgba(243, 243, 243, 1);
    letter-spacing: 0.1px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid transparent;
    cursor: pointer;
}

.button:hover{
    background: #d3d3d3;;
    border: 1px solid gray;
    color: rgba(0, 0, 0, 1);
}

.button.white{
    color:rgba(0, 0, 0, 1) ;
    background-color: rgba(243, 243, 243, 1);
    padding: 8px 16px;
    border: 1px solid transparent;
    &.button.white:hover{
        background:rgba(38, 38, 38, 1) ;
        border: 1px solid #d3d3d3;
        color:#d3d3d3;;
    }
}