
@import "mixins";
@import "variables";


:host{
    display: inline-block;
}

.card{
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(243, 243, 243, 1);
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: flex-end;
    margin-top: 56px;
}

.subtitle{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.photo{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.name{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin: 16px 0 4px;
}

.description{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.icon{
    width: 16px;
    margin-left: 16px;
    cursor: pointer;
}